<!--colright-->
<div class="col-md-4 col-sm-12">

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<h3 class="text-center">Bonjour {{ app.user.PRENOMAUTEUR }}</h3>
		<h4 class="text-center">
			{% if is_granted('ROLE_ADMIN') %}Administrateur{% else %}Auteur{% endif %}
		</h4>

		<ul class="list-group">
			<li class="list-group-item">
				<a href="{{ url('technews_addarticle') }}">Créer un Article</a>
			</li>
			<li class="list-group-item">
				<a href="{{ url('technews_deconnexion') }}">Déconnexion</a>
			</li>
		</ul>

	{% endif %}

	<!--tab popular-->
	<ul role="tablist" class="tab-popular">
		<li class="active">
			<a href="#tab1" role="tab" data-toggle="tab">
				DERNI&Egrave;RE PUBLICATIONS
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab1">
			<ul class="list-news-popular">
				{% for article in sidebar %}
    				<li>
    					<a href="{{ url('technews_article', {
                                    libellecategorie : article.LIBELLECATEGORIE | lower,
                                    slugarticle : article.TITREARTICLE | slug,
                                    idarticle : article.IDARTICLE }) }}">
    						<img alt="{{ article.TITREARTICLE }}" src="{{ asset('assets/images/product/'~article.FEATUREDIMAGEARTICLE) }}" />
    					</a>
    					<h3><a href="{{ url('technews_article', {
                                    libellecategorie : article.LIBELLECATEGORIE | lower,
                                    slugarticle : article.TITREARTICLE | slug,
                                    idarticle : article.IDARTICLE }) }}">{{ article.TITREARTICLE }}</a></h3>
    					<div class="meta-post">
    						<a href="#">
    							{{ article.PRENOMAUTEUR }} {{ article.NOMAUTEUR }}
    						</a>
    						<em></em>
    						<span>
							{{ article.DATECREATIONARTICLE }}
    						</span>
    					</div>
    				</li>
				{% endfor %}
			</ul>

		</div>
	</div>

	<!-- subcribe box-->
	<div class="subcribe-box">
		<h3>NEWSLETTER</h3>
		<p>Inscrivez-vous pour recevoir nos dernières publications.</p>
		<form id="newsletterForm" novalidate>
			<input type="text" id="prenom" placeholder="Votre Prénom...">
			<input type="text" id="email"  placeholder="Votre Email..." 
				style="margin-top:0;" />
			<button class="my-btn">Je m'inscris</button>
		</form>
	</div>
	<!-- connect us-->
	<div class="connect-us">
		<div class="widget-title">
			<span>
				SUIVEZ-NOUS
			</span>
		</div>
		<ul class="list-social-icon">
			<li>
				<a href="#" class="facebook">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#" class="twitter">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#" class="google">
					<i class="fa fa-google"></i>
				</a>
			</li>
			<li>
				<a href="#" class="youtube">
					<i class="fa fa-youtube-play"></i>
				</a>
			</li>
			<li>
				<a href="#" class="pinterest">
					<i class="fa fa-pinterest-p"></i>
				</a>
			</li>
			<li>
				<a href="#" class="rss">
					<i class="fa fa-rss"></i>
				</a>
			</li>
		</ul>
	</div>

	<!-- special post-->
	<div class="connect-us">
		<div class="widget-title">
			<span>
				En Avant
			</span>
		</div>
		<div class="list-special">
			{% for article in special %}
    			<article class="news-two-large">
    				<a href="{{ url('technews_article', {
                                    libellecategorie : article.LIBELLECATEGORIE | lower,
                                    slugarticle : article.TITREARTICLE | slug,
                                    idarticle : article.IDARTICLE }) }}">
    					<img alt="{{ article.TITREARTICLE }}" src="{{ asset('assets/images/product/'~article.FEATUREDIMAGEARTICLE) }}" />
    				</a>
    				<h3><a href="{{ url('technews_article', {
                                    libellecategorie : article.LIBELLECATEGORIE | lower,
                                    slugarticle : article.TITREARTICLE | slug,
                                    idarticle : article.IDARTICLE }) }}">{{ article.TITREARTICLE }}</a></h3>
    				<div class="meta-post">
    					<a href="#">
    						{{ article.PRENOMAUTEUR }} {{ article.NOMAUTEUR }}
    					</a>
    					<em></em>
    					<span>
    						{{ article.DATECREATIONARTICLE }}
    					</span>
    				</div>
    			</article>
			{% endfor %}
		</div>
	</div>
</div>